openresty/logs/*
out/*
/openresty/html/video
/redis_bin
.vscode/*
.vs/*
web_socket/.vscode/*
r/*
openresty/test/__pycache__/
/installer_uninstaller/Debug
/installer_uninstaller/.vs
/installer_uninstaller/src/nas_installer/.vs
/installer_uninstaller/*.user
/installer_uninstaller/lzma2201/CPP/7zip/Bundles/Alone7z/.vs
/installer_uninstaller/lzma2201/CPP/7zip/Bundles/Alone7z/Debug
/installer_uninstaller/lzma2201/CPP/7zip/Bundles/Alone7z/Backup
/installer_uninstaller/curl-7.78.0/build
/installer_uninstaller/curl-7.78.0/projects/Windows/VC15/.vs
/installer_uninstaller/src/nas_installer/res/skin.zip
/installer_uninstaller/duilib/Temp
/installer_uninstaller/*.aps
/tray/.vs/
/tray/src/.vs/
/tray/*.user
/installer_uninstaller/Release
/installer_uninstaller/lzma2201/CPP/7zip/Bundles/Alone7z/Release
/tray/Debug/
/tray/x64/
/tray/src/resource/*.aps
/tray/duilib/Temp
/tray/Temp
/tray/Release/
/third_party/duilib/Temp
/third_party/duilib/DuiLib/Temp
/installer_uninstaller/src/nas_installer/*.aps
/installer_uninstaller/src/nas_uninstaller/*.aps
/installer_uninstaller/nas_mid/nas_mid.vcxproj.user
/installer_uninstaller/nas_mid/Debug
/installer_uninstaller/nas_mid/Release
/third_party/lzma2201/CPP/7zip/Bundles/Alone7z/Release
/third_party/lzma2201/CPP/7zip/Bundles/Alone7z/Debug
/image_engine/win/Debug/*.pdb
/image_engine/win/Release/*.pdb
/installer_uninstaller/src/nas_uninstaller/res/skin.zip
/tray/src/resource/skin/skin.zip
/nasenv
