Release
.vs
*.aps
*.user
*.o
*.lo
*.la
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
*.obj
*.suo
*.ncb
*.idb
*.pch
*.res
*.idx
*.gmo
*.Po
*.d
build-qbittorrent-Desktop_Qt_5_15_11_MSVC2017_32bit-Debug
qt5
